<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>世界语言之旅</title>
    <link rel="stylesheet" href="/static/introduction/static/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/static/introduction/static/style2.css" />
      <link rel="stylesheet" href="/static/introduction/static/style_star.css" />
  </head>
  <body>
    <section id="sectionone" class="screen">
      <div id="scene">
        <div data-depth="0.1" class="bg">
          <img src="/static/introduction/images/background.png" alt="" />
        </div>
        <div data-depth="0.2" class="rock1">
          <img src="/static/introduction/images/rock.png" alt="" />
        </div>
        <div data-depth="1.2" class="earth">
          <img src="/static/introduction/images/earth.png" alt="" />
        </div>
          <div class="star_war_container">
          <div class="fade"></div>
<section class="star-wars">
  <div class="crawl">
    <div class="title_star">
      <p>世界语言学习</p>
      <h1>Zero To Hero</h1>
    </div>

    <p>这是一个帮助人们从零开始学习世界各种语言的学习性网站，想要进行多种语言学习的同学可以在这个网站上得到很多的帮助。 </p>
<!--<p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.</p>-->
<!--      <p>During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.</p>-->
      <p>该网站截至目前涵盖包括英语、日语、韩语、德语、法语、俄语、意大利语、西班牙语、葡萄牙语、阿拉伯语等在内的多种语言。所有语言都建立了常用单词库，帮助用户进行简单的单词记忆；每一种语言都有对应的书籍库与电影库，帮助用户在娱乐中学习。</p>

    <p>此外，网站还提供了翻译的接口，当不明白单词与句子的意思时，可以进行快速的翻译、查找；我们还为每一个用户建立了独立的私人库，可以将单词，电影收录其中；更多的功能还有待去发现……</p>
  </div>
      <div class="title_final">
          <p>世界语言学习</p>
      </div>


</section>
           </div>



        <div data-depth="0.1" class="text">
        </div>
        <div data-depth="0.4" class="mid">
          <img src="/static/introduction/images/mid.png" alt="" />
        </div>
        <div data-depth="0.1" class="fore">
          <img src="/static/introduction/images/foreground.png" alt="" />
        </div>
      </div>

    </section>
    <embed src="/static/introduction/star_war.mp3" class="star_music" autostart=true hidden=true><embed/>
    <div class="shell">
  <a href="#" class="box"><img class="icon" alt="#" src="/static/member/static/picture/单列列表.png"/><span class="item"></span></a>
    <a href="http://localhost:8989/homepage" class="box"><img class="icon" alt="#" src="/static/member/static/picture/首页.png"/><span class="item">首页</span></a>
    <a href="http://localhost:8989/introduction" class="box"><img class="icon" alt="#" src="/static/member/static/picture/会议简介.png"/><span class="item">简介</span></a>
    <a href="http://localhost:8989/map" class="box"><img class="icon" alt="#" src="/static/member/static/picture/地图类_地图.png"/><span class="item">地图</span></a>
    <a href="http://localhost:8989/search" class="box"><img class="icon" alt="#" src="/static/member/static/picture/搜索.png"/><span class="item">搜索</span></a>
    <a href="http://localhost:8989/member" class="box"><img class="icon" alt="#" src="/static/member/static/picture/团队成员.png"/><span class="item">成员</span></a>
</div>

      <!-- SLIDER LINKS -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/static/introduction/index.js" type="text/javascript"></script>

  </body>
</html>
